<!-- footer -->

  <!-- footer -->
  <footer id="footer-main" class="py-5 bg-dark text-white">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="navbar navbar-expand-lg
      navbar-dark py-4">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            <li class="nav-item">
               <a href="#about" class="nav-link">About</a>
            <li class="nav-item">
               <a href="#authors" class="nav-link">Team</a>
             <li class="nav-item">
               <a href="mailto:cptiwari20@gmail.com" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item">
             <a href="/blogs" class="nav-link">Blogs</a>
           </li>
         </ul>
       </div>
     </div>
        <div class="container">
          <div class="row text-center">
            <div class="col-md-6 offset-md-6">
              <p class="lead">Copyright &copy; 2018 Programerr</p>
            </div>
          </div>
        </div>
      </div>
  </footer>



<!-- mainjs -->
<script type="text/javascript" src="js/main.js">

</script>
<!-- bootstrap cdn -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>

</body>
</html>
