<% include ./partials/header %>
<!-- showcase -->
      <section id="showcase">
          <div class="primary-overlay text-white">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-sm-12 text-center">
                  <h1 class="display-3 mt-5 pt-5">
                    Create and Share Your Knowledge...
                  </h1>
                  <p class="lead d-lg-block">
                    Create and share Your blogs to your friends and family.
                  </p>
                  <a href="/blogs" class="btn btn-outline-secondary btn-lg d-none d-sm-block ">
                    <i class="fa fa-arrow-right"></i>Go To Blogs</a>
                </div>
                <div class="col-lg-6 col-sm-12 pt-4 text-center">
                  <img src="img/mlogo.png" class="img-fluid d-lg-block d-none" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--NEWSLETTER  -->
        <section id="newsletter" class="bg-dark text-white py-5">
          <div class="container">
            <form class="row">
              <div class="col-md-4">
                <input type="text" class="form-control form-control-lg" name="name" value="Name" placeholder="Name">
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control form-control-lg" name="email" value="Email" placeholder="Email">
              </div>
              <div class="col-md-4">
                <button class="btn btn-secondary btn-lg btn-block"><i class="fa fa-envelope-open-o"></i> Subscribe</button>
              </div>
            </form>
          </div>
        </section>

        <!-- BOXES -->
        <section id="boxes" class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card text-center border-secondary">
                  <div class="card-block">
                    <h3 class="text-secondary">Be Better</h3>
                    <p class="text-muted">Learn the skills that improves your life.Health-Wealth Mindset-Soulset</p>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card text-center bg-secondary text-white">
                  <div class="card-block">
                    <h3>Be Smarter</h3>
                    <p>Keep update yourself with the new things happening in the world.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card text-center border-secondary">
                  <div class="card-block">
                    <h3 class="text-secondary">Be a Leader</h3>
                    <p class="text-muted">Practice to become the best in your field. Inspire others.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card text-center bg-secondary text-white">
                  <div class="card-block">
                    <h3>Be a Human</h3>
                    <p>Love others, self-less. Share that you know and learn that you don't know.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  <!-- ABOUT / WHY -->
    <section id="about" class="my-5 py-5 bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="info-header mb-5">
                <h1 class="text-secondary pb-3">
                  Why We are?
                </h1>
                <p class="lead pb-5">
                  We are here to provide best of our services related to Online World.
                  We understand the importance of Time, Money & Quality.
                </p>
            </div>
          </div>
        </div>

          <!-- ACCORDIAN -->
          <div id="accordion" role="tablist">
            <div class="card">
              <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0">
                  <div href="#collapse1" data-parent="#accordion" data-toggle="collapse">
                    <i class="fa fa-arrow-circle-down"></i> Website Creation
                  </div>
                </h5>
              </div>

              <div class="collapse show" id="collapse1">
                <div class="card-block">
                  <p class="lead">
                    Create your own website and explore to the world. We will help you to create wonderful and attractive website.
                    We have best front-end as well as back-end developers.
                  </p>
                  <a href="/services" class="btn btn-outline-secondary">Learn More</a>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0">
                  <div href="#collapse2" class="collapsed" data-parent="#accordion" data-toggle="collapse">
                    <i class="fa fa-arrow-circle-down"></i>Digital Marketing
                  </div>
                </h5>
              </div>

              <div class="collapse" id="collapse2">
                <div class="card-block">
                  <p class="lead">
                    Scale Your bussiness to another level. We help in social media Marketing as well as other online marketing services.
                  </p>
                  <a href="/services" class="btn btn-outline-secondary">Learn More</a>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0">
                  <div href="#collapse3"  class="collapsed" data-parent="#accordion" data-toggle="collapse">
                    <i class="fa fa-arrow-circle-down"></i>Create an e-commerce Store
                  </div>
                </h5>
              </div>

              <div class="collapse" id="collapse3">
                <div class="card-block">
                  <p class="lead">
                    We will create a brad new Shopify store and also helps in dropshipping strategies.
                  </p>
                  <a href="/services" class="btn btn-outline-secondary">Learn More</a>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="heading4">
                <h5 class="mb-0">
                  <div href="#collapse4"  class="collapsed" data-parent="#accordion" data-toggle="collapse">
                    <i class="fa fa-arrow-circle-down"></i>Advertisement Products
                  </div>
                </h5>
              </div>

              <div class="collapse" id="collapse4">
                <div class="card-block">
                  <p class="lead">
                      We will create banners, logo, icon as well as advertisement videos for online marketing.
                  </p>
                  <a href="/services" class="btn btn-outline-secondary">Learn More</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>

  <!-- Authors -->
  <section id="authors" class="my-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="info-header mb-5">
              <h1 class="text-secondary pb-3">
                Team Members.
              </h1>
              <p class="lead pb-3">We are able to create and give services to you only because of our incredible team members.</p>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-12">
              <div class="card">
                <div class="card-block">
                  <img src="img/person1.jpg" class="img-fluid rounded-circle w-50 mb-3" alt="">
                  <h3>Chandra Prakash Tiwari</h3>
                  <h5 class="text-muted">Web Developer</h5>
                  <p>Awesome experience in Node.js. Full time learner, problem solver.</p>
                  <div class="d-flex flex-row justify-content-center">
                    <div class="p-4"><a href="https://www.facebook.com/cptiwari20"
                    class="fab fa-facebook-square"></a></div>
                    <div class="p-4"><a href="https://www.twitter.com/cp_tiwari20"
                    class="fab fa-twitter"></a></div>
                    <div class="p-4"><a href="#" class="fab fa-google-plus"></a></div>
                  </div>
                </div>
              </div>
          </div>

            <div class="col-md-6 col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-block">
                <img src="img/person2.jpg" class="img-fluid rounded-circle w-50 mb-3" alt="">
                <h3>Aditya Pratap Singh</h3>
                <h5 class="text-muted">Developer/ Technical Analyst</h5>
                <p>Love to code. But also a great trader in crypto market. Full time learner, problem solver and inspirational.</p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4"><a href="https://www.facebook.com/profile.php?id=100024163603143" class="fab fa-facebook"></a></div>
                  <div class="p-4"><a href="https://www.twitter.com/adityacryptoTA" class="fab fa-twitter"></a></div>
                  <div class="p-4"><a href="#" class="fab fa-google-plus"></a></div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-md-6 col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-block">
                <img src="img/person3.jpg" class="img-fluid rounded-circle w-50 mb-3" alt="">
                <h3>Avinash Pratap Singh</h3>
                <h5 class="text-muted">Chief-Adviser</h5>
                <p>A great learner and also a great thinker. Love to study and create something.</p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4"><a href="#" class="fab fa-facebook"></a></div>
                  <div class="p-4"><a href="#" class="fab fa-twitter"></a></div>
                  <div class="p-4"><a href="#" class="fab fa-google-plus"></a></div>
                </div>
              </div>
            </div>
          </div>

            <!-- <div class="col-md-6 col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-block">
                <img src="img/person4.jpg" class="img-fluid rounded-circle w-50 mb-3" alt="">
                <h3>Karaa Dabe</h3>
                <h5 class="text-muted">Artist</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus qui, sit, saepe molestiae ad eos!</p>
                <div class="d-flex flex-row justify-content-center">
                  <div class="p-4"><a href="#" class="fa fa-facebook"></a></div>
                  <div class="p-4"><a href="#" class="fa fa-twitter"></a></div>
                  <div class="p-4"><a href="#" class="fa fa-google-plus"></a></div>
                </div>
              </div>
            </div>
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact -->
  <!-- <section id="contact" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h2 class="">Get in Touch..</h2>
          <p class="lead">Share your experience or any queries. We are always here to help you.</p>
          <% if(success && success.length > 0) { %>
            <div class="alert alert-success"><p><%= success %></p></div>
          <% } %>>
          <form action="/send" method="POST">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-addon"><span class="fa fa-user"></span></div>
                <input type="text" placeholder="Name" name="name" class="form-control form-control-lg">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-addon"><span class="fa fa-envelope"></span></div>
                <input type="Email" placeholder="Email" name="email" class="form-control form-control-lg">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-addon"><span class="fa fa-pencil"></span></div>
                <textarea type="text" rows="5" name="message" placeholder="Message" class="form-control form-control-lg"></textarea>
              </div>
            </div>
            <input type="submit" name="Submit" class="btn btn-lg btn-secondary btn-block" value="Submit">
          </form>

        </div>
        <div class="col-lg-3 align-self-center">
            <img src="img/mlogo.png" alt="" class="img-fluid rounded-circle hidden-md-down">
        </div>
      </div>
    </div>
  </section> -->
<!-- <div class="container text-center">
  <ul class="display-4"> -->
  <!-- <li ><a href="/blogs">Blogs</a></li> -->
  <!-- <li> Account
      <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">SignUp</a></li>
      <li><a href="/logout">Logout</a></li>
      <ul>
  </li>
</ul>
</div> -->
<% include ./partials/footer %>
